<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.popmovie">

    <application
        android:allowBackup="true"
        android:icon="@drawable/popcorn"
        android:label="@string/app_name"
        android:roundIcon="@drawable/popcorn"
        android:supportsRtl="true"
        android:theme="@style/Theme.PopMovie">
        <activity
            android:name=".ui.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.mobile.popmovie.ui.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>